* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", serif;
}

a {
  text-decoration: none;
  color: #515076;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #EDECF6;
  padding: 1rem;
  width: 100%;
}

.logo {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.pageLinks {
  display: flex;
  gap: 2em;
  flex: 2;
  justify-content: center;
}

.basket {
  flex: 1;
  text-align: right;
  margin-right: 1rem;
}
.basket img{
  height: 3rem;
}

.socialMediaLinks {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  flex: 1;
  justify-content: flex-start;
}

.pageLinks a{
padding: 10px 15px;
border-radius: 20px;
}
.pageLinks a:hover{
  background-color:#5150761A ;
  color:#201e6c ;
}
.socialMediaLinks a:hover{
  color: #201e6c;
}



.diamaint{
  grid-column: span 2;
  font-family: "Playfair Display", serif;
}

.diamaint h1{
  font-size: 12rem;
  position: relative;
  top: -20rem;
  right: -20rem;
  color: #515076;

}

.secondaryMain{
  display: flex;
  z-index: 2;
}
.secondaryMain1 p{
  font-size: 1rem;
  font-family: "Montserrat", serif;
  color: #828282;
}
.flexSecondaryMain{
  display: flex;
  position: relative;
  flex-direction: column;
  font-size: 1.2rem;
  left: -5rem;
  top: 5rem;
  color: #828282;
  font-family: "Montserrat", serif;
}

.secondaryMain1 p:first-child{
  font-size: 2rem;
  margin-left: -28rem;
  margin-top: 7rem;
  color: #63678C;
}

.secondaryMain3{
margin-top: 5rem
}
.secondaryMain4{
  margin-top: 2rem;

}

.flower img{
  margin-left: -60rem;
  margin-top: -1rem;
}
.secondImg{
  position: absolute;
  margin-left: -30rem;
  margin-bottom: -30rem;
}

.chooseProduct{
  margin-top: 5rem ;
  padding: 1rem;
  width: 200px;
  margin-left: 6.5rem;
  border-radius: 240px;
  background-color: #515076;
  color: white;
  font-family: "Montserrat", serif;
  letter-spacing: 2px;
}

.mainContainer1{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr 1fr 1fr ;
  gap: 5px;
}

.grid-item {
  background-color: #c3c5d1;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #373737;
}



@media (max-width: 825px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }

  .logo, .pageLinks, .basket, .socialMediaLinks {
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 1rem;
  }

  .pageLinks, .socialMediaLinks {
    flex-direction: column;
    gap: 0.5em;
  }

  .basket {
    text-align: left;
  }
}